@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-color: #1a1c20;
    --link-color: #1FFF5E;
    --background-color-default: #fafafa;
    --background-sphere: #F8F8F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

.light-mode{
    --bg-color: #fafaf;
    --text-color: #333;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    --sphere-gb: #4a6fa5;
    --sphere-border: #3a5a80;
}

.dark-mode{
    --bg-color: #282A36;
    --text-color: #F8F8F2;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

body{
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color-default);
    background-color: #44475A;
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text{
    flex: 5;
}

.hero-section .text h2{
    font-size: 45px;
}

.hero-section .text .links{
    margin-top: 25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    width: 350px;
    border-radius: 50%;
}

.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Roboto', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}
